body,
html {
    margin: 0;
    /* Remove default margins */
    width: 100%;
    /* Fill the entire width of the viewport */
}

.coin-container {
    display: flex;
    justify-content: start;
    background-color: grey;
    color: white;

}

.toss-animation {
    animation: toss-rotate 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes toss-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.coin {
    width: 20px;
    height: 20px;
    /* background-color: ; */
    border-radius: 20%;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease;
}

.coin.tossing {
    animation: toss-animation 0.6s ease-in-out;
}

@keyframes toss-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.toss-button {
    /* margin-top: 20px; */
    padding: 10PX;
    font-size: 16px;
}

.toss-button:focus {
    outline: none;
}

.two-columns-container {
    display: flex;
    height: 100%;
    /* Full height of the parent container */
}


.column {
    flex: 1;
    border: 1px solid #ccc;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Vertically center content */
}

.left-component {
    background-color: lightblue;
}

.right-component {
    background-color: lightgreen;
}

.playerList {
    display: flex;
}

/* .TeamBuilder {
  display: flex;
} */
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.coin-container {
    position: relative;
    text-align: center;
}

.toss-animation {
    animation: toss-rotate 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes toss-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

/* .coin {
    width: 100px;
    height: 100px;
    background-color: #e5e5e5;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease;
} */

.coin.tossing {
    animation: toss-animation 0.6s ease-in-out;
}

@keyframes toss-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.toss-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.toss-button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #e3e6e3;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

body,
.cb-comm-pg,
.cb-hm-mid {
    min-height: 1000px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.page {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.cb-col-8 {
    width: 8%;
}

.cb-col-10 {
    width: 10%;
}

.cb-col-14 {
    width: 14%;
}

.cb-col-16 {
    width: 16%;
}

.cb-col-20 {
    width: 20%;
}

.cb-col-25 {
    width: 25%;
}

.cb-col-27 {
    width: 27%;
}

.cb-col-30 {
    width: 30%;
}

.cb-col-33 {
    width: 33%;
}

.cb-col-40 {
    width: 40%;
}

.cb-col-46 {
    width: 46%;
}

.cb-col-47 {
    width: 47%;
}

.cb-col-50 {
    width: 50%;
}

.cb-col-60 {
    width: 60%;
}

.cb-col-65 {
    width: 65%;
}

.cb-col-66 {
    width: 66%;
}

.cb-col-67 {
    width: 67%;
}

.cb-col-73 {
    width: 73%;
}

.cb-col-75 {
    width: 75%;
}

.cb-col-70 {
    width: 70%;
}

.cb-col-84 {
    width: 84%;
}

.cb-col-80 {
    width: 80%;
}

.cb-col-90 {
    width: 90%;
}

.cb-col-100 {
    width: 100%;
}

.cb-col {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
}

h1 {
    font-size: 36px;
    line-height: 42px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 0;
    line-height: 30px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

h4 {
    font-size: 16px;
    margin: 0;
}

h5 {
    font-size: 14px;
    margin: 0;
}

.cb-font-18 {
    font-size: 18px;
}

img {
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #222;
}

a,
a:hover,
a:active,
a:focus {
    outline: medium none;
}

.text-center {
    text-align: center;
}

.cb-nws-lft-col {
    padding: 15px 20px;
}

.cb-nws-dtl-lft-col {
    padding: 10px 30px 0 30px;
    border-right: 1px solid #ecebeb;
}

.cb-nws-lst-rt {
    padding-left: 10px;
}

.cb-srs-lst-itm {
    padding: 10px 0;
}

.cb-lst-itm-sm {
    padding: 10px 0 5px;
}

.cb-scrd-lft-col {
    padding: 15px 10px;
}

.cb-col-rt {
    padding: 10px;
}

.text-white {
    color: #fff;
}

.cb-text-apple-red {
    color: #e90b37;
}

.cb-color-light-sec {
    color: #464646;
}

.cb-scrd-hdr-rw,
.cb-nav-pill-1.active {
    background: #028062;
    color: #fff;
}

.cb-nav {
    position: relative;
    height: 48px;
    background: #009270;
}

.cb-hm-mnu-itm {
    padding: 16px 6px 11px;
    color: #fff;
    display: inline-block;
}

.cb-hm-text {
    padding: 10px 18px 10px 20px;
}

.cb-hm-rght {
    padding: 15px;
}

.cb-subnav .cb-sub-navigation {
    display: none;
    position: absolute;
}

.cb-mat-mnu {
    background: #4a4a4a;
    width: 980px;
    font-size: 0;
}

.cb-mat-mnu-itm {
    font-size: 12px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    max-width: 140px;
}

.cb-mat-mnu-ttl {
    background: #333;
    padding: 10px 20px;
}

.cb-mat-mnu-wrp {
    margin-bottom: 10px;
}

.cb-ovr-flo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cb-mat-mnu-all {
    text-align: center;
    float: right;
    width: 60px;
}

.cb-nav-main {
    border-bottom: 1px solid #e3e6e3;
    padding: 0 0 5px 20px;
}

.cb-nav-bar {
    padding-top: 10px;
    clear: both;
}

.cb-lst-itm,
.hite {
    background: #fff;
}

.cb-nav-tab.active,
.cb-nav-tab-hm.active {
    font-weight: bold;
    color: #028062;
}

.cb-nav-tab.active {
    border-bottom: 3px solid #028062;
    line-height: 24px;
}

.cb-nav-tab-hm.active {
    border-bottom: 2px solid #028062;
    line-height: 22px;
}

.cb-nav-tab {
    margin-right: 20px;
    padding-bottom: 6px;
}

.cb-nav-tab-hm {
    margin-right: 15px;
    padding-bottom: 6px;
}

.cb-nav-hdr {
    padding-top: 15px;
}

.cb-nav-subhdr {
    padding: 5px 0 10px 0;
}

.cb-lv-scr-mtch-hdr {
    line-height: 21px;
    font-size: 16px;
}

.disp-none {
    display: none;
}

.disp-blck {
    display: block;
}

.cb-font-24 {
    font-size: 24px;
}

.line-ht30 {
    line-height: 30px;
}

.line-ht24 {
    line-height: 24px;
}

.cb-hm-scg-blk {
    background: #fff;
    margin-bottom: 5px;
    height: 90px;
}

.mrgn-btm-5 {
    margin-bottom: 5px;
}

#scagTabContent .show {
    display: block;
    visibility: visible;
}

#scagTabContent .hide {
    display: none;
    visibility: hidden;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.cb-hm-lft {
    margin-bottom: 5px;
    padding: 0 15px;
}

.cb-hm-lft-hdr {
    margin: 0;
    padding: 15px 15px 0;
    color: #009270;
}

.cb-hm-mid {
    border-left: 5px solid #e3e6e3;
    border-right: 5px solid #e3e6e3;
    padding: 0 15px;
}

.cb-mtch-blk {
    border-right: 1px solid #ecebeb;
    line-height: 1.4;
    margin: 15px 0;
    padding: 0 20px;
}

.crd-cntxt {
    font-size: 12px;
    color: #666;
    padding-bottom: 10px;
}

.big-crd-main {
    border-top: 1px solid #ecebeb;
    padding: 15px 0 5px;
    margin-bottom: 1px;
    clear: both;
}

.big-crd-reltd-itm {
    margin: 0 0 10px;
    width: 100%;
    display: inline-block;
}

.cb-nws-time {
    font-size: 12px;
    padding-bottom: 5px;
}

.cb-nws-hdln-ancr {
    padding-bottom: 5px;
}

.cb-hmscg-bwl-txt,
.cb-hmscg-bat-txt {
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 0;
    height: 22px;
}

.cb-hmscg-bwl-txt {
    color: #222;
}

.sml-crd-main {
    padding: 15px 0 5px;
    width: 100%;
}

.big-crd-hdln {
    margin: 10px 0;
}

.big-crd-rltd-txt {
    font-weight: bold;
    margin: 10px 0;
    color: #1866db;
}

.cb-nws-intr {
    color: #666;
    padding-bottom: 5px;
}

.cb-lv-scrs-well {
    background: #f5f5f5;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 5px;
}

.cb-hm-mtch-crd-width {
    min-width: 300px;
}

.cb-mr-30 {
    margin-right: 30px;
}

.cb-pretag {
    color: #b34a57;
}

.cb-plus-trending-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cb-plus-editorial-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cb-plus-news-lst-rt {
    padding: 25px 20px 20px 15px;
}

.cb-plus-trending-block {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cb-plus-main {
    min-height: 600px;
}

.cb-editorial-pills {
    padding: 20px 20px 0;
}

.cb-editorial-carousal-list {
    white-space: nowrap;
    overflow: hidden;
    padding: 20px 20px 5px;
}

.cb-editorial-carousal-wrapper {
    transition: all 0.3s ease;
}

.cb-modal-hide {
    visibility: hidden;
    opacity: 0;
}

.cb-schdl-hdr {
    margin: 0;
    padding: 15px 0 10px 10px;
}

.cb-lst-itm-lg {
    padding: 20px 0;
}

.cb-left-pad {
    padding: 20px 10px 0;
}

.cb-nav-pill-1 {
    background: #cfe0db;
    border-radius: 20px;
    color: #222;
    cursor: pointer;
    margin-right: 15px;
    padding: 5px 20px;
}

.cb-mtch-lst {
    padding: 15px 0;
}

.cb-nws-min-cntr {
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    margin: 10px 0 15px;
}

.sml-crd-subtxt {
    margin: 0 10px 10px;
}

/*-------------------------Live Pages -----------------------*/
.cb-scrcrd-status {
    padding: 0 0 10px 10px;
}

.cb-scrd-hdr-rw {
    padding: 8px 10px;
}

.cb-bg-gray {
    background: #ecebeb;
}

.cb-bg-red {
    background: #e90b37;
}

.cb-lv-grn-strip {
    background: #ecebeb;
}

.cb-min-hdr-rw,
.cb-scrd-sub-hdr {
    padding: 4px 10px;
    font-size: 12px;
    color: #666;
}

.cb-scrd-itms {
    padding: 4px 10px;
    font-size: 13px;
}

.cb-redeem-coupon-link,
.cb-text-link {
    color: #1866db;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: bold;
    padding: auto;
    color: #e90b37;
}

.cb-mat-fct-itm {
    padding: 5px 0;
}

.cb-min-bat-rw {
    padding-bottom: 5px;
}

.cb-font-10 {
    font-size: 10px;
}

.cb-nws-sub-txt,
.cb-nws-sub-txt,
.cb-font-12 {
    font-size: 12px;
}

.cb-font-16 {
    font-size: 16px;
}

.cb-font-20 {
    font-size: 20px;
}

.cb-min-inf {
    padding-top: 10px;
    margin-left: -10px;
    display: inline-block;
}

.cb-min-itm-rw {
    padding: 5px 10px 0;
}

.text-right {
    text-align: right;
}

.cb-key-st-lst {
    padding: 10px 0 0 5px;
}

.cb-min-prw-time {
    padding: 20px 0 0;
}

.cb-toss-sts {
    padding: 10px 0 30px;
}

.cb-min-rcnt {
    padding: 7px 10px;
    margin: 0 -10px 0;
}

.cb-key-lst-wrp {
    border: 1px solid #ecebeb;
    padding-bottom: 15px;
    margin-right: -10px;
}

.cb-min-tm {
    font-size: 18px;
    font-weight: bold;
}

.cb-min-stts {
    padding: 20px 0;
}

.cb-mom-itm {
    padding: 0 0 10px;
}

.cb-lv-grn-strip {
    padding: 10px 10px 5px;
}

.cb-ovr-num {
    padding-top: 2px;
}

.cb-min-pad {
    padding-left: 5px;
}

/*Upcoming Series*/
.cb-mnth {
    margin-top: 10px;
    padding: 0 10px;
}

.cb-sch-lst-itm {
    padding: 10px 0;
    margin-left: 20px;
    border-bottom: 1px solid #ecebeb;
}

/*Matches By Day*/
.cb-mtchs-dy {
    padding: 20px 20px 20px 10px;
}

.cb-mtchs-dy-tm,
.cb-mtchs-dy-vnu {
    padding: 20px 20px 20px 0px;
}

/*Schedule Teams*/
.cb-lv-upcom-strip {
    padding: 5px 10px;
    background: #ecebeb;
}

/*Archives*/
.cb-srs-cat {
    padding: 10px;
    color: #028062;
}

.pad-left {
    padding-left: 30px;
}

.cb-arcv-yr {
    font-size: 20px;
    padding: 0 0 5px 10px;
    font-weight: bold;
}

.cb-yr-tmline {
    padding: 2px 15px 15px 0;
}

.cb-sch-tms-widgt {
    padding: 5px 10px;
    margin: 5px 2px 2px 2px;
    background: #f5f5f5;
    border-radius: 0;
    border: 0;
    display: inline-block;
}

/*Photos*/
.cb-thmb-dark {
    background: #333333;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    padding: 0;
    color: #ccc;
}

.cb-pht-main {
    padding: 20px 15px;
    margin: 0 -10px;
}

.cb-pht-block {
    padding: 9px;
    float: left;
    height: 280px;
    box-sizing: border-box;
}

.cb-gallery-pht-block {
    padding: 9px 9px 9px 16px;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

.center-block {
    margin-right: auto;
    margin-left: auto;
}

.cb-schdl {
    padding: 0 10px;
    line-height: 1.5;
}

.cb-caret-up,
.cb-caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    margin-bottom: 1px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.cb-caret-up {
    border-bottom: 4px solid;
}

.cb-caret-down {
    border-top: 4px solid;
}

.cb-hm-rt-itm {
    margin: 0 0 5px;
    padding: 10px 10px 5px;
}

.cb-hmscg-tm-nm {
    display: inline-block;
    width: 60px;
}

.pull-right,
.cb-all-mtch-tab {
    float: right;
}

.cb-skin-ads-close {
    display: none;
}

.cb-nws-sub-txt {
    padding-top: 10px;
}

.nws-dtl-hdln {
    margin-top: 10px;
}

.cb-min-lv {
    min-height: 270px;
}

.cb-min-comp {
    min-height: 150px;
}

.cb-ttl-vts {
    margin-top: 20px;
}

.cb-poll-radio {
    width: 5%;
    margin: 4px 10px 0 0;
}

.cb-mini-tim {
    padding-bottom: 20px;
}

.cb-com-ln {
    margin: 0 0 10px;
    line-height: 24px;
}

.cb-comm-static {
    margin: 0 -10px 10px;
}

.cb-com-ovr-sum-ad {
    min-height: 31px;
}

.cb-comm-static-anchr {
    margin: 5px 10px;
    display: block;
}

.ad-unit-rendered {
    margin-bottom: 5px;
}

.cb-mm-wrp {
    max-height: 0px;
    -webkit-transition: max-height 0.35s ease;
    transition: max-height 0.35s ease;
    overflow: hidden;
}

.cb-mm-wrp.down {
    max-height: 1000px;
    transition: max-height 0.75s ease;
    -webkit-transition: max-height 0.75s ease;
    overflow: hidden;
}

.cb-srs-hstry-dtl {
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 4px;
}

.cb-qck-lnk {
    margin-bottom: 5px;
    padding: 10px 15px;
}

.cb-qck-hdr {
    padding-right: 15px;
    border-right: 1px solid #ecebeb;
}

.cb-qck-ancr {
    margin-left: 15px;
}

.cb-lst-vid-rw {
    padding-bottom: 0;
    height: 64px;
    border: 1px solid #ecebeb;
    margin-right: -10px;
}

.cb-auth-img {
    border-radius: 100%;
}

.cb-expt-athr {
    vertical-align: top;
    padding: 5px 0 0 0;
    display: inline-block;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.cb-exprt-athr-hdr {
    text-align: right;
    font-size: 42px;
    font-family: bodani;
    color: #fff;
    padding-right: 15px;
    line-height: 44px;
    text-transform: uppercase;
}

.cb-exprt-athr-hdr-tag {
    text-align: right;
    font-size: 24px;
    font-family: bodani;
    color: #fff;
    padding-right: 15px;
    font-style: italic;
}

.cb-athr-wgt-wrp {
    border: 1px solid #ecebeb;
    padding: 15px;
    margin-bottom: 20px;
    background: #f5f5f5;
}

.cb-exprt-athr-hdr-img {
    /* background: url("/images/harsha-banner.jpg") no-repeat scroll; */
    height: 80px;
}

.cb-overflow-hidden {
    overflow: hidden;
}

/*Videos*/
.cb-vid-sm-ply-api {
    color: #fff;
    line-height: 34px;
    font-size: 18px;
    margin-left: 3px;
}

.cb-vid-sml-card-api {
    margin-top: 10px;
    height: auto;
    padding: 0 12px 0 11px;
}

.cb-cat-head-wrap {
    padding: 0 12px 0 11px;
}

.cb-cat-head-text {
    margin-top: 5px;
    line-height: 20px;
}

.cb-more-btn {
    padding: 8px 20px;
    border-radius: 2px;
    color: #fff;
    background: #009270;
    border: 0;
    cursor: pointer;
}

.cb-cat-head-link {
    float: right;
    padding: 5px 25px;
    margin-top: 10px;
    border-radius: 4px;
}

.cb-pos-rel {
    position: relative;
}

.cb-videos-cat {
    border-bottom: 1px solid #ecebeb;
    padding: 10px 3px 15px 4px;
}

.cb-cat-head-text-wrap {
    float: left;
}

.cb-cat-head-count {
    margin: 0;
    color: #666;
}

h2.cb-cat-head-text {
    font-size: 18px;
}

.cb-vid-sml-card-api-head {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    max-height: 55px;
    margin: 2px 0 5px;
    overflow: hidden;
}

.cb-cen {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    background: #222;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.cb-cen:hover {
    opacity: 1;
}

.padding-handling-errors {
    padding: 20px 0px 10px 15px;
    border-bottom: 1px solid #ecebeb;
}

.cb-col .cb-align-cen {
    float: none;
    text-align: center;
    padding: 7px 25px;
    margin-top: 20px;
}

.cb-align-cen {
    padding-top: 10px;
}

.cb-hot-cat {
    max-width: 90px;
    text-align: center;
    padding-right: 0;
}

.cb-hot-cat-img {
    width: 72px;
}

.cb-vid-slider-arrs {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    z-index: 5;
}

.cb-vid-slider-arr {
    position: absolute;
    z-index: 5;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    cursor: pointer;
}

.cb-vid-slider-arr-prev {
    display: none;
    left: 0;
}

.cb-vid-slider-arr-next {
    right: 0;
}

.videos-list-carousal {
    overflow: hidden;
    position: relative;
    height: 220px;
}

.videos-carousal-wrapper {
    float: none;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
}

.videos-carousal-item {
    min-width: 25%;
    justify-content: center;
    align-items: center;
}

.cb-vid-more {
    float: right;
    color: #2c3e9a;
    font-size: 18px;
}

.cb-vid-more:hover {
    text-decoration: underline;
}

.cat-vid-carousal {
    height: 135px !important;
}

.cat-vid-carousal .videos-carousal-item {
    min-width: auto;
}

.cat-vid-carousal .cb-vid-slider-arrs {
    top: 24px;
}

.cb-srs-sqd-box {
    min-height: 700px;
    background: #fff;
}

.cb-float-none {
    float: none;
}

.cb-margin-top-10 {
    margin-top: 10px;
}

.cb-schdl-nvtb {
    margin: 0 0 10px 0;
    padding: 10px;
}

.cb-carousal-item-small {
    padding: 0 0 0 16px;
}

.cb-carousal-item-small:first-child {
    padding-left: 11px;
}

.cb-carousal-item-large {
    padding: 0 11px;
}

.cb-carousal-item-small .cb-vid-txt-wrp {
    font-size: 12px;
}

.cb-hot-cat .cb-vid-txt-wrp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 40px;
}

.cb-more-video {
    float: right;
    color: #2c3e9a;
}

.cb-more-video:hover {
    text-decoration: underline;
}

.home_video .cb-vid-slider-arrs {
    opacity: 0.8;
}

.home_matches .cb-vid-slider-arrs {
    opacity: 0.8;
    /* top: 22px; */
}

.home_matches {
    width: 250px;
    padding-left: 0px;
    /* padding: auto; */
}

#hm-scag-mtch-blk ul li:not(:first-of-type) {
    padding: 0 11px 0 20px;
}

/*Rankings*/
.cb-ranking-nav.active {
    line-height: 21px;
}

.cb-rank-plyr {
    padding-left: 15px;
}

.text-left {
    text-align: left;
}

.cb-rank-tabs {
    padding-left: 10px;
}

.cb-plyr-tbody {
    padding: 5px 0;
}

.cb-padding-left0 {
    padding-left: 0;
}

.cb-rank-hdr {
    margin-top: 15px;
    padding: 5px 0;
}

.cb-bg-grey {
    background: #f5f5f5;
}

/*Players*/
.cb-player-name-wrap {
    padding-top: 90px;
}

.cb-plyr-tbl {
    margin-top: 30px;
}

.cb-font-40 {
    font-size: 40px;
}

/*Teams*/
.cb-cursor-pointer {
    cursor: pointer;
}

.cb-team-stats-btn {
    margin-top: 21px;
}

.cb-upper-text {
    text-transform: capitalize;
}

.cb-user-icon {
    background-position: -628px -19px;
    height: 20px;
}

.cb-user-itm {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 16px 6px 11px;
}

/* Icon specific stylings */
.cb-ico-premium {
    width: 35px !important;
    height: 50px !important;
    background-position: -527px -5px !important;
}

/* featured matches carousal */
.hgt-145 {
    height: 145px;
}

.cb-mtch-crd-rt {
    margin: 0 0 5px;
}

.cb-mtch-crd-rt-itm,
.cb-match-card {
    height: 400px;
}

.cb-mtch-crd-rt-itm {
    padding: 2px 0px;
}

.cb-match-card {
    width: 500px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding: 100;
    position: relative;
    color: #009270;
    /* margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 10; */
    /* min-width: 350px; */
    margin: 50 60 70 80;
}

.cb-mtch-crd-hdr,
.cb-hmscg-tm-bat-scr,
.cb-hmscg-tm-bwl-scr,
.cb-mtch-crd-state,
.cb-mtch-crd-time,
.cb-match-footer-body {
    padding: 0px 0px 0px 50px;
}

.cb-mtch-crd-hdr {
    display: flex;
    padding-top: 8px;
    width: 230px;
    justify-content: space-between;
}

.cb-mtch-crd-liv-strm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 27px;
    border-radius: 24px;
}

.cb-vid-ply-btn-red {
    text-align: center;
    width: 11px;
    height: 10px;
    border-radius: 50%;
    line-height: 10px;
}

.cb-card-match-format {
    display: block;
    min-width: 28px;
    padding: 1px 0 0;
    border-radius: 24px;
}

.cb-hmscg-tm-bat-scr,
.cb-hmscg-tm-bwl-scr,
.cb-hmscg-tm-name {
    display: flex;
    align-items: center;
    width: 90%;
}

.cb-hmscg-tm-bat-scr {
    padding-top: 5px;
}

.cb-hmscg-tm-bwl-scr {
    padding-top: 12px;
}

.cb-hmscg-tm-nm-img {
    padding: 3px 5px 0px 0px;
}

.cb-img-rad-0 {
    border-radius: 0px;
}

.cb-mtch-crd-state,
.cb-mtch-crd-time {
    padding-top: 20px;
}

.cb-match-footer {
    position: absolute;
    bottom: 0px;
    background-color: #f0f0f0;
    border-radius: 0px 0px 4px 4px;
    height: 30px;
}

.cb-match-footer-body {
    display: flex;
    justify-content: end;
    padding-top: 4px;
}

.cb-match-footer-link {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 10px;
    text-transform: uppercase;
}

.cb-text-link {
    color: #1866db;
}

.cb-plus-menu-button {
    padding: 8px 14px;
    background: #fff;
    border-radius: 18px;
    border: 0;
}

.cb-plus-menu-button:hover,
.cb-plus-menu-button:focus,
.cb-plus-menu-button:active {
    background: #fff;
}

.LiveScore {
    display: flex;
    width: auto;
}

.div-1 {
    /* text-align: center; */
    padding: 10px;
    margin-inline: 20px;
    width: 250px;
    border-radius: 4px;
    color: grey;
    box-shadow: 0px 0px 10px -4px;
}

.All {
    display: flex;

    padding: auto;
    overflow-x: scroll;
}



/* Style the default scrollbar track */
.All::-webkit-scrollbar {
    margin-top: 4px;
    width: 2px;
    height: 3px;
    /* Adjust the width as needed */
}

/* Style the default scrollbar thumb (slider) */
.All::-webkit-scrollbar-thumb {
    background: lightgray;
    /* width: 1px; */
    /* Thumb color */
    border-radius: 2px;
    /* Make the thumb round */
}

/* Style the default scrollbar track on hover */
.All:hover::-webkit-scrollbar-thumb {
    background: grey;
    /* Change thumb color on hover */
}

.cb-col-50 cb-ovr-flo {
    display: "inline-block";
    text-align: "center",
}

.Notice {
    font-weight: bold;
}